html,body
{
    /* background: url(../images/bg.png); */
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Scheherazade', serif;
    font-family: 'Amiri', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.49;
}
.overlay
{
    background-color: rgba(77, 153, 106 ,0.7) !important;
    height: 100%;
}
.margin-class {
    width: 100%;
    height: 80px;
}
/*.login-section
{
    background-image: url(../../images/stripe.png);
    background-color: #f0e6db;
}*/
.login-container
{
    overflow: hidden;
    border: 1px solid rgb(9, 33, 64);
    background: #f2f3f2;
    /* border: 3px solid #eedfdd; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    /*border:1px solid rgb(9, 33, 64);*/
}
.login-container:before, .login-container:after {
    z-index: -1;
    position: absolute;
    content: "";
    background: rgba(160,35,66,1);
    box-shadow: 0 15px 10px #000;
    transform: rotate(-3deg);
}
.login-header
{
    margin-bottom:30px;
    color: #f2f3f2;
}
.login-body
{
    padding:30px;

}
.login-body .form-group
{
    margin: 1.5rem auto;
}
.login-body .form-control
{
    width:85%;
    margin:0px auto;
    border-radius:0;

}
.login-body label
{
    margin-left:7.5%;
   color: #4d996a;
    font-size: 1.3rem;
    font-weight:700;
}
.login-buttom
{
    font-size: 18px;
    padding: 8px 30px;
    border: none;
    text-transform: capitalize;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
        background: #3c7752;
    box-shadow: 0px 3px 7px #000;
    color: #fff;
    cursor: pointer;
}
.help-block 
{
    margin-top: 1rem !important;
    display: inline-block;
    padding-top: 0.7rem;
    color: #a94442;
    font-size: 15px;
}